@media (max-width : 550px) {

    .app-header {
        h1 {
            font-size: 20px;
            width: 35%;

        }

        .nav-links-wrapper {
            display: flex;
            font-size: 10px;
            width: 65%;
        }
    }

    .sign-up-container {
        width: 100%;
    }

    .contact-list {
        .contact-preview-container {
            .contact-wrapper {
                .action {
                    display: flex !important;

                    a {
                        background-color: rgb(44, 44, 44);
                        img{
                            width: 10px;
                            height: 10px;
                        }
                    }
                }
            }
        }
    }

    .margin-center {
        width: 100%;
    }

    .statistic-page {
        height: 100%;

        .charts-container {
            flex-direction: column;
        }
    }
}